.home-container {
    margin-top: 1%;
}

.solution-title {
    font-size: 40px;
    font-weight: bold;
}

.centered-column {
    text-align: center;
}

.align-right {
    margin-top: 1%;
    text-align: right;
}

.benefits {
    font-size: 25px;
    font-weight: bold;
}