.custom-container {
    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

.custom-form {
    margin-left: 35%;
}

.small-group {
    width: 50%;
    margin-bottom: 1%;
}